AWS_ACCESS_KEY_ID=your_aws_access_key_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_key_here
AWS_DEFAULT_REGION=eu-west-1
AWS_S3_BUCKET_NAME=your_s3_bucket_name_here

# PostgreSQL (Docker container)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=your_name
DB_USER=your_DB_user_name
DB_PASSWORD=your_pasword

# MLflow Configuration
MLFLOW_TRACKING_URI=http://127.0.0.1:5000
MLFLOW_S3_BUCKET=Your_mlflow_bucket_name 
MLFLOW_ARTIFACT_ROOT=your_s3_bucket_name_here

#JWT authentication
JWT_SECRET_KEY=paste_the_generated_key_here
JWT_EXPIRY_TIME_MINUTES=30

# Model and Vectorizer Paths
MODEL_PATH=your_model_path_here
VECTORIZER_PATH=your_vectoriser_path_here
MODEL_VERSION=your_verion_here
